<!-- views/partials/footer.ejs -->
<div class="row">
    <div class="text-center col-md-10 col-md-offset-1">
        <p>
            Copyright 2018, Islab, Dept. of Electrical and Computer Engineering, Seoul National University.
        </p>
        <p>
            08826 | #1117 Bldg. 301, 1 Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea. | +82-2-880-8407
        </p>
    </div>
</div>