<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header class="app-bar paper4">
    <% include ../partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        About
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>
</html>