footer {
    background-color: #222;
    color: rgb(99, 99, 99);
    padding-top: 15px;
    padding-bottom: 15px;
}
body {
    background-color: rgba(109, 58, 0, 0.08);
    overflow-y: auto;
}
html {
    font-size: 16px;
}
.well {
    background-color: white;
    background-image: none;
}
.margin-top {
    margin-top: 0.35em;
}
.margin-bottom {
    margin-top: 0;
    margin-bottom: 0.35em;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35417em;
    margin-top: 0;
    margin-bottom: 16px;
}
h2 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}
h3 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}
.textCenter {
    text-align: center;
}

.navbar {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.first {
    margin-left: 0;
    margin-right: 0;
    min-height: calc(100vh - 147px);
}
.footer-first {
    margin-left: 0;
    margin-right: 0;
}
.biographyImg {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.biographyImg img {
    display: block;
    top: 50%;
    left: 50%;
    height: auto;
    min-width: 100%;
}